<h1 mat-dialog-title>Hi {{data.first_name}}</h1>
<div mat-dialog-content [formGroup]="form">
  <p>Update details</p>
  <div class="card" id="form1">
    <div class="form-data">
        <div class="forms-inputs mb-4"> <span>Name</span> <input autocomplete="off" type="text"  formControlName="last_name">
        </div>
        <div class="forms-inputs mb-4"> <span>Job</span> <input autocomplete="off" type="text" formControlName="job">
        </div>
    </div>
</div>
</div>
<div mat-dialog-actions>
  <button class="btn btn-dark" mat-button (click)="onNoClick()">Cancel</button>
  <div class="divider"></div>
  <button class="btn btn-dark" mat-button [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
</div>